.footer
{
    text-align: center;
    margin: auto;
    max-width: 80%;
    border-top: 1px solid #989898;
    padding: 15px 0px;
    font-size: 13px;
}

.footer .developer
{
    margin-top: 8px;
    color: #888;
}

.footer .developer span
{
    color: #7927ff;
    font-weight: 500;
}
